<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Juego de Reacción</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card">
    <h1>🎮 Juego de Reacción</h1>

    <p><b>Estado:</b> {{ estado }}</p>

    <div class="botones">
        <a class="btn verde" href="/start">▶ Iniciar</a>
        <a class="btn rojo" href="/stop">■ Detener</a>
    </div>

    <a class="btn amarillo" href="/resultados">📊 Ver resultados</a>
</div>

</body>
</html>
    